@import 'fonts';
@import 'core';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0 !important;
}

html{
  scroll-behavior: smooth;
}

.overline {
  letter-spacing: 0 !important;
}

html {
  font-family: IRANSans !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong {
  font-family: IRANSans !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

